{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link href="{{ asset('css/theme-galaxy.css') }}" rel="stylesheet" />

{% endblock %}

{% block tinymce %}{% endblock %}

{% block body %}

    {% block sw_container %}

        {% trans_default_domain 'auth' %}

        <div class="sw-modal iw-main-page sw-modal-size-12">
            <div class="sw-modal-head">
                <div class="header">

                    {% block swnawbar %}

                        <ul class="nav nav-pills pull-right sw-naw">

                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                                <li class="sw-active">
                                    <a href="{{ path( 'play_index' ) }}" class="sw-btn">
                                        <i class="glyphicon glyphicon-play"></i>
                                        IW
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path( '_logout' ) }}" class="sw-btn">
                                        <i class="glyphicon glyphicon-log-out"></i>
                                        {{ '_LOGOUT'|trans }}
                                    </a>
                                </li>

                            {% else %}

                                <li>
                                    <a href="{{ path('_registration') }}" class="sw-btn">
                                        <i class="glyphicon glyphicon-registration-mark"></i>
                                        {{ '_REGISTRATION'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path( '_login' ) }}" class="sw-btn">
                                        <i class="glyphicon glyphicon-log-in"></i>
                                        {{ '_LOGIN'|trans }}
                                    </a>
                                </li>

                            {% endif %}

                        </ul>

                    {% endblock %}


                    <div class="sw-logo">
                        <h2 class=""><a href="{{ path('iw') }}">IronWar</a></h2>
                        <small> ONLINE </small>
                    </div>

                </div>
            </div>
            <div class="sw-modal-body">

                {% block swbody %}{% endblock %}

            </div>
        </div>

    {% endblock %}

    {% block container %}{% endblock %}

{% endblock %}

{% block javascripts %}

    <script type="application/javascript" src="{{ asset('js/core/Ajax.js') }}"></script>

    <script type="application/javascript" src="{{ asset('js/three/three.js') }}"></script>
    <script type="application/javascript" src="{{ asset('js/three/SPE.js') }}"></script>

    <script type="application/javascript" src="{{ asset('js/config/IW.js') }}"></script>
    <script type="application/javascript" src="{{ asset('js/socket/SocketControls.js') }}"></script>

    <script type="application/javascript" src="{{ asset('js/core/FullScreen.js') }}"></script>
    <script type="application/javascript" src="{{ asset('js/ui/ProgressBar.js') }}"></script>


    <script type="application/javascript" src="{{ asset('js/collision/Collision.js') }}"></script>

    <script type="application/javascript" src="{{ asset('js/explosion/ExplosionOptions.js') }}"></script>
    <script type="application/javascript" src="{{ asset('js/explosion/Explosion.js') }}"></script>


    <script type="application/javascript" src="{{ asset('js/model/ModelParameters.js') }}"></script>
    <script type="application/javascript" src="{{ asset('js/model/ModelShot.js') }}"></script>
    <script type="application/javascript" src="{{ asset('js/model/ModelFly.js') }}"></script>
    <script type="application/javascript" src="{{ asset('js/model/Model.js') }}"></script>


    <script type="application/javascript" src="{{ asset('js/panel/PanelMap.js') }}"></script>
    <script type="application/javascript" src="{{ asset('js/panel/PanelAction.js') }}"></script>
    <script type="application/javascript" src="{{ asset('js/panel/PanelControls.js') }}"></script>

    <script type="application/javascript" src="{{ asset('js/label/Labels.js') }}"></script>
    <script type="application/javascript" src="{{ asset('js/label/LabelControls.js') }}"></script>

    <script type="application/javascript" src="{{ asset('js/three/loaders/MultiLoader.js') }}"></script>
    <script type="application/javascript" src="{{ asset('js/three/loaders/OBJLoader.js') }}"></script>
    <script type="application/javascript" src="{{ asset('js/three/loaders/MTLLoader.js') }}"></script>


    <script type="application/javascript" src="{{ asset('js/three/controls/SceneControls.js') }}"></script>
    <script type="application/javascript" src="{{ asset('js/three/controls/OrbitControls.js') }}"></script>

{% endblock %}
