<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Iron War{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('iron-war.ico') }}" />

        {% block bootstrap %}
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
        {% endblock %}

        {% block stylesheets %}
            <link href="{{ asset('css/theme-admin.css') }}" rel="stylesheet" />
        {% endblock %}

        {# Initialisation TINYMCE #}
        {% block tinymce %}
            {{ tinymce_init({theme: { 'simple': { 'language': app.request.locale } } }) }}
        {% endblock %}

    </head>

    <body>
        {% block header %}{% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}{% endblock %}

        {% block javascripts %}

            <script src="{{ asset('js/jquery-3.1.1.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <script src="{{ asset('js/core/system.js') }}"></script>
            <script type="application/javascript" src="{{ asset('js/three/ui/Validation.js') }}"></script>

        {% endblock %}

    </body>
</html>
