{% extends 'iw.html.twig' %}

{% block container %}

    {% trans_default_domain 'auth' %}

    <div class="sw-modal iw-main-page sw-modal-size-12">
        <div class="sw-modal-head">
            <div class="header">
                <ul class="nav nav-pills pull-right">

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                        <li class="sw-active">
                            <a href="{{ path( 'play_index' ) }}" class="sw-btn">
                                <i class="glyphicon glyphicon-play"></i>
                                IW
                            </a>
                        </li>
                        <li>
                            <a href="{{ path( '_logout' ) }}" class="sw-btn">
                                <i class="glyphicon glyphicon-log-out"></i>
                                {{ '_LOGOUT'|trans }}
                            </a>
                        </li>

                    {% else %}

                        <li>
                            <a href="{{ path('_registration') }}" class="sw-btn">
                                <i class="glyphicon glyphicon-registration-mark"></i>
                                {{ '_REGISTRATION'|trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path( '_login' ) }}" class="sw-btn">
                                <i class="glyphicon glyphicon-log-in"></i>
                                {{ '_LOGIN'|trans }}
                            </a>
                        </li>

                    {% endif %}

                </ul>
                <h2 class="">Iron War (ONLINE) <small>Browser Game</small></h2>
            </div>
        </div>
        <div class="sw-modal-body">

            {#{{ dump( is_granted('IS_AUTHENTICATED_REMEMBERED') ) }}#}

        </div>
    </div>
    <div id="iw-container"></div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="application/javascript">

        document.addEventListener('DOMContentLoaded', function () {

            var map = {
                path: '{{ asset('/images/textures/galaxy/A/') }}',
                names: ['dark-s-px', 'dark-s-nx', 'dark-s-py', 'dark-s-ny', 'dark-s-pz', 'dark-s-nz'],
                extension: '.png'
            };

            var initScene = new IW.SceneControls( 'iw-container', false );
            initScene.setOpacity(0);

            var multiLoader = new IW.MultiLoader();
            multiLoader.setPositionProgress( IW.ProgressBar.POSITION_B, 50 );
            multiLoader.hideLabelProgress();

            // UPLOAD TEXTURES MAP
            for ( var i = 0; i < map.names.length; i++ ) {
                var lbl = 'label - texture ' + map.names[ i ];
                multiLoader.addLoadTexture( map.names[ i ], lbl, map.path + map.names[ i ] + map.extension );
            }

            // UPLOAD OBJECTS SHIPS
            multiLoader.addLoadOBJ( IW.SceneControls.MODEL_S1_A, 'label - object', '{{asset('/models/S1/A/')}}', 'starship.obj', 'starship.mtl' );

            multiLoader.setLoadedCallback( function ( params ) {
                switch ( params.name ) {

                    case IW.SceneControls.MODEL_S1_A:
                        params.object.rotation.y = Math.PI;
                        params.object.scale.copy( new THREE.Vector3( 0.1, 0.1, 0.1 ) );
                        initScene.scene.add( params.object );
                        break;
                }
            } );

            multiLoader.load(function () {

                initScene.initScene();
                initScene.map( multiLoader, map );

                var orbitControl = new THREE.OrbitControls( initScene.camera, initScene.renderer.domElement );
                orbitControl.autoRotateSpeed = 0.3;
                orbitControl.minDistance = 50;
                orbitControl.maxDistance = 150;
                orbitControl.autoRotate = true;
                orbitControl.enableKeys = false;
                orbitControl.enablePan = false;
                orbitControl.enableZoom = false;
                orbitControl.dispose();

                initScene.setCallbackUpdate( function () {

                    orbitControl.update();
                } );

                var start = 0;
                var idInterval = setInterval( function () {
                    start += 0.001;
                    initScene.setOpacity( start );
                    if ( start >= 1 ) {
                        initScene.setOpacity( 1 );
                        clearInterval( idInterval );
                    }
                }, 5 );
            });
        });

    </script>

{% endblock %}