{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/theme-galaxy.css') }}" rel="stylesheet" />
{% endblock %}



{% block body %}

    <div id="sw-container"></div>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/three/three.js') }}"></script>

    <script src="{{ asset('js/core/ui/ui.ProgressBar.js') }}"></script>
    <script src="{{ asset('js/core/ui/ui.FullScreen.js') }}"></script>


    <script src="{{ asset('js/three/panel/MiniMap.js') }}"></script>
    <script src="{{ asset('js/three/panel/PanelControl.js') }}"></script>
    <script src="{{ asset('js/three/loaders/MultiLoader.js') }}"></script>
    <script src="{{ asset('js/three/loaders/OBJLoader.js') }}"></script>
    <script src="{{ asset('js/three/loaders/MTLLoader.js') }}"></script>


    <script src="{{ asset('js/three/controls/LabelControls.js') }}"></script>
    <script src="{{ asset('js/three/controls/SceneControls.js') }}"></script>
    <script src="{{ asset('js/three/controls/OrbitControls.js') }}"></script>
    <script src="{{ asset('js/three/controls/FlyControls.js') }}"></script>


    <script>

        new THREE.SceneControls( 'sw-container', false );

    </script>
{% endblock %}
