{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/theme-galaxy.css') }}" rel="stylesheet" />
{% endblock %}



{% block body %}

    <div id="sw-container"></div>

    {#<div class="sw-panel-control">#}
        {#<div class="sw-block-actions">#}

            {#<div class="sw-action">#}
                {#<div class="glyphicon glyphicon-fullscreen sw-action-icon"></div>#}
                {#<div class="sw-action-keyword">1</div>#}
            {#</div>#}
            {#<div class="sw-action">#}
                {#<div class="sw-action-keyword">1</div>#}
            {#</div>#}

        {#</div>#}

    {#</div>#}

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/three/three.js') }}"></script>

    <script src="{{ asset('js/core/ui/ui.ProgressBar.js') }}"></script>
    <script src="{{ asset('js/core/ui/ui.FullScreen.js') }}"></script>


    <script src="{{ asset('js/three/panel/MiniMap.js') }}"></script>
    <script src="{{ asset('js/three/panel/PanelControl.js') }}"></script>
    <script src="{{ asset('js/three/loaders/ModelsLoader.js') }}"></script>
    <script src="{{ asset('js/three/loaders/OBJLoader.js') }}"></script>

    <script>

        var scene = new THREE.Scene();
        var loader = new THREE.ModelsLoader( scene );

        loader.addPath( '/web/models/M1/ship.obj' );
        loader.addPath( '/web/models/M1/Spaceship1.obj' );
        loader.addPath( '/web/models/M1/walera.obj' );

        loader.objectLoaded = function ( object ) {
//            console.log( object );
        };

        loader.load(function () {

            var miniMap = new THREE.MiniMap();
            miniMap.appendTo();

            var panel = new THREE.PanelControl();
            panel.addAction( function ( e ) {

                var full = new ui.FullScreen();
                console.log( full.toggle() );

            }, null, 'fullscreen', true );
            panel.appendTo();

        });


    </script>
{% endblock %}
