{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/theme-galaxy.css') }}" rel="stylesheet" />
{% endblock %}



{% block body %}

    <div id="sw-container"></div>

    <div class="sw-map" style="position: absolute; width: 200px; height: 200px;"></div>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('js/three/three.js') }}"></script>

    <script src="{{ asset('js/core/ui/ui.ProgressBar.js') }}"></script>
    <script src="{{ asset('js/core/ui/ui.FullScreen.js') }}"></script>


    <script src="{{ asset('js/three/loaders/ModelsLoader.js') }}"></script>
    <script src="{{ asset('js/three/loaders/OBJLoader.js') }}"></script>

    <script>

        var full = new ui.FullScreen();
        full.toggle( document.body );

        var element = document.body;
        element.addEventListener('click', function () {

        });

        var scene = new THREE.Scene();
        var loader = new THREE.ModelsLoader( scene );

        loader.addPath( '/web/models/M1/ship.obj' );
        loader.addPath( '/web/models/M1/Spaceship1.obj' );
        loader.addPath( '/web/models/M1/walera.obj' );

        loader.objectLoaded = function ( object ) {
//            console.log( object );
        };

        loader.load(function () {
//            console.log( 34243 );
        });


    </script>
{% endblock %}
