{% extends 'container.html.twig' %}

{% block content %}

    <div class="page-header">
        <h1>Helpers list</h1>
    </div>

    {% set params = null %}
    {% if pagination is defined %}
        {% set params = { 'back': pagination.page } %}
    {% endif %}

    <div class="clearfix well-sm">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-left">
                <a href="{{ path('helper_new', params) }}" class="btn-theme btn btn-default group-tooltip" title="Create a new helper" data-placement="right">
                    <i class="glyphicon glyphicon-file"></i>
                    New
                </a>
            </div>
        </div>
    <div class="clearfix well-sm">
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 text-left">
            <div class="table-responsive">
                <table class="table table-responsive table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Command</th>
                            <th>Description</th>
                            <th>Isactive</th>
                            <th>Deleted</th>
                            <th>Created_at</th>
                            <th>Updated_at</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for helper in helpers %}

                                                                        
                        <tr class="table-popover" data-trigger="hover" data-placement="bottom" data-html="true" data-content="Update: {{helper.updatedat|date('Y-m-d H:i:s') }} <br/> Create: {{helper.createdat|date('Y-m-d H:i:s') }}" title="Date" data-go-to="{{ path('helper_show', { 'id': helper.id }) }}">
                            <td><a href="{{ path('helper_show', { 'id': helper.id }) }}">{{ helper.id }}</a></td>
                            <td>{{ helper.title }}</td>
                            <td>{{ helper.command | raw }}</td>
                            <td>{{ helper.description | raw }}</td>
                            <td>{% if helper.isActive %}Yes{% else %}No{% endif %}</td>
                            <td>{% if helper.deleted %}Yes{% else %}No{% endif %}</td>
                            <td>{% if helper.createdat %}{{ helper.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{% if helper.updatedat %}{{ helper.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>
                                <div class="btn-group btn-group-sm" style="min-width: 70px">
                                    {% set params = { 'id': helper.id } %}

                                    {% if pagination is defined %}
                                        {% set params = { 'id': helper.id, 'back': pagination.page } %}
                                    {% endif %}

                                    <a href="{{ path('helper_show', params) }}" class="btn btn-default group-tooltip" title="Show" data-placement="top">
                                    
                                        <i class="glyphicon glyphicon-eye-open"></i>

                                                                        </a>
                                    {% set params = { 'id': helper.id } %}

                                    {% if pagination is defined %}
                                        {% set params = { 'id': helper.id, 'back': pagination.page } %}
                                    {% endif %}

                                    <a href="{{ path('helper_edit', params) }}" class="btn btn-default group-tooltip" title="Edit" data-placement="top">
                                    
                                        <i class="glyphicon glyphicon-edit"></i>

                                                                        </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% if pagination is defined %}
        {% include 'pagination.html.twig' with pagination %}
    {% endif %}

{% endblock %}
