
<div class="tab">
    <div class="tab__head">

        <% for (let i = 0; i < options.length; i++) { %>

            <% let item = options[i]; %>
            <% let key = item['key']; %>
            <% let active = item.hasOwnProperty('active') && item['active'] ? 'tab__head_item_active' : ''; %>

            <div class="tab__head_item <%= active %>" data-action="<%= key %>">
                <div>
                    <div class="tab__head_item_name">
                        <% if (item.hasOwnProperty('icon')) { %>
                            <% let icon = item['icon'] %>
                            <i class="fa <%= icon %>"></i>
                        <% } %>

                        <span><%= item['name'] %></span>
                    </div>

                    <div class="tab__head_item_close">
                        <i class="fa" data-action="<%= key %>"></i>
                    </div>
                </div>
            </div>

        <% } %>
    </div>

    <div class="tab__content">

        <% for (let i = 0; i < options.length; i++) { %>

            <% let item = options[i]; %>
            <% let key = item['key']; %>
            <% let active = item.hasOwnProperty('active') && item['active'] ? 'tab__content_item_active' : ''; %>

            <div class="tab__content_item <%= active %>" data-block="<%= key %>"><%= item['content'] %></div>

        <% } %>
    </div>
</div>