
<div class="tab">

    <div class="tab__indicators">
        <div class="tab__indicators_place" data-block="indicators"></div>
    </div>

    <div class="tab__head">

        <% for (let i = 0; i < options.length; i++) { %>

            <% let item = options[i]; %>
            <% let uuid = item['uuid']; %>
            <% let active = item['active'] ? 'tab__head_item_active' : ''; %>

            <div class="tab__head_item <%= active %>" data-action="<%= uuid %>">
                <div>
                    <div class="tab__head_item_name">
                        <% if (item['icon']) { %>
                            <i class="fa <%= item['icon'] %>"></i>
                        <% } %>

                        <span><%= item['name'] %></span>
                    </div>

                    <% if (item['close']) { %>

                        <div class="tab__head_item_close">
                            <i class="fa" data-action="<%= uuid %>"></i>
                        </div>

                    <% } %>
                </div>
            </div>

        <% } %>
    </div>

    <div class="tab__content">

        <% for (let i = 0; i < options.length; i++) { %>

            <% let item = options[i]; %>
            <% let uuid = item['uuid']; %>
            <% let active = item['active'] ? 'tab__content_item_active' : ''; %>

            <div class="tab__content_item <%= active %>" data-block="<%= uuid %>"><%- item['content'] %></div>

        <% } %>
    </div>
</div>