
<div class="row row_sm">

    <div class="col_xs_1 col_sm_2 col_md_3 col_lg_4">
        <div class="row row_sm">
            <span class="visible_md visible_lg">Volume Settings</span>
        </div>
    </div>

    <div class="col_xs_10 col_sm_8 col_md_6 col_lg_4">
        <div class="row row_sm">
            <span class="hidden_md hidden_lg">Volume Settings</span>
        </div>
        <form data-block="form_volume">

            <div class="row row_md">
                <div class="col_xs_12 col_sm_12 col_md_12 col_lg_12">
                    <label for="menu_volume">
                        <i class="fa fa-volume-up" aria-hidden="true"></i>
                        Menu:
                    </label>
                    <input type="range" min="0" max="100" step="1" value="<%= options['menu'] %>" id="menu_volume" name="menu_volume">
                </div>
            </div>

            <div class="row row_md">
                <div class="col_xs_12 col_sm_12 col_md_12 col_lg_12">
                    <label for="tab_volume">
                        <i class="fa fa-volume-up" aria-hidden="true"></i>
                        Tab:
                    </label>
                    <input type="range" min="0" max="100" step="1" value="<%= options['tab'] %>" id="tab_volume" name="tab_volume">
                </div>
            </div>

            <div class="row row_md">
                <div class="col_xs_12 col_sm_12 col_md_12 col_lg_12">
                    <label for="effects_volume">
                        <i class="fa fa-volume-up" aria-hidden="true"></i>
                        Game Effects:
                    </label>
                    <input type="range" min="0" max="100" step="1" value="<%= options['effect'] %>" id="effect_volume" name="effect_volume">
                </div>
            </div>

            <div class="row row_md">
                <div class="col_xs_12 col_sm_12 col_md_12 col_lg_12">
                    <label for="environment_volume">
                        <i class="fa fa-volume-up" aria-hidden="true"></i>
                        Game Environment:
                    </label>
                    <input type="range" min="0" max="100" step="1" value="<%= options['environment'] %>" id="environment_volume" name="environment_volume">
                </div>
            </div>

            <div class="row row_md">
                <div class="col_xs_4 col_sm_4 col_md_4 col_lg_4">
                    <input type="checkbox" name="turn_on" id="turn_on" <%= (options['turn_on'] === 1 ? 'checked' : '') %>>
                    <label for="turn_on" class="checkbox">
                        <i class="fa fa-volume-off"></i>
                    </label>
                </div>
            </div>

        </form>
    </div>

    <div class="col_xs_1 col_sm_2 col_md_3 col_lg_4"></div>

</div>