
<% let icon = options['icon'] !== '' ? options['icon'] : null; %>
<% let name = options['name'] !== '' ? options['name'] : null; %>
<% let size = options['size'] !== '' ? options['size'] : null; %>
<% let link = options['link']; %>
<% let title = options['title'] !== '' ? ('title="' + options['title'] + '"') : ''; %>

<% if (options['type'] === 'link') { %>

    <div class="btn <%= size; %>" <%- title; %>>
        <a href="<%= link; %>">

            <% if (icon) { %>
                <i><%= icon; %></i>
            <% } %>

            <% if (name) { %>
                <span><%= name; %></span>
            <% } %>
        </a>
    </div>

<% } else if (options['type'] === 'info') { %>

    <% let iconInfo = icon ? icon : 'fa-info-circle'; %>
    <div>
        <i class="fa btn_skin_info <%= iconInfo; %> <%= size; %>" <%- title; %>></i>

        <% if (name) { %>
            <span><%= name; %></span>
        <% } %>

    </div>

<% } else if (options['type'] === 'icon') { %>

    <div>
        <i class="fa <%= icon ? icon : 'fa-edit'; %> btn btn_skin_link <%= size; %>" <%- title; %>></i>

        <% if (name) { %>
            <span><%= name; %></span>
        <% } %>

    </div>

<% } else { %>

    <div class="btn <%= size; %>" <%- title; %>>

        <% if (icon) { %>
            <i><%= icon; %></i>
        <% } %>


        <% if (name) { %>
            <span><%= name; %></span>
        <% } %>
    </div>

<% } %>