<div class="menu_general">

    <%/*
    It is example parameters for build of current template
    let options = [
        {
            name: 'Main Menu IronWar',
            action: 'main-menu',
            subItems: [
                {name: 'Login', action: 'main-menu-login'},
                {name: 'Registration', action: 'main-menu-registration'},
                {name: 'Logout', action: 'main-menu-logout'},
                {name: 'Settings', action: 'main-menu-settings'},
                {name: 'Close Menu', action: 'main-menu-close'}
            ]
        }
    ];

    */%>


    <% for (let item of options) { %>

    <div class="menu_general__item menu_general__item_disable" data-action="<%= item['action'] %>">
        <i class="fa fa-bars"></i>
    </div>

    <div class="menu_general__cover" data-block="<%= item['block'] %>" hidden>
        <div class="menu_general__content">
            <div class="menu_general__content_row">
                <div class="menu_general__content_cell menu_general__header">
                    <h3><%= item['name'] %></h3>
                </div>
            </div>

            <div class="menu_general__content_row">
                <div class="menu_general__content_cell menu_general__body">
                    <ul class="menu_general__body_items">
                        <% for (let subitem of item['subItems']) { %>
                        <li data-action="<%= subitem['action'] %>"><%= subitem['name'] %></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <% } %>
</div>