<div class="menu_general">

    <% for (let item of options) { %>

        <div class="menu_general__item" data-action="<%= item['action'] %>" title="<%= item['name'] %>">
            <% let icon = item['icon'] ? item['icon'] : 'fa-bars'; %>
            <i class="fa <%= icon %>"></i>
        </div>

        <% if (item['subItems'].length > 0) { %>

            <div class="menu_general__cover" data-block="<%= item['block'] %>" hidden>
                <div class="menu_general__content">
                    <div class="menu_general__content_row">
                        <div class="menu_general__content_cell menu_general__header">
                            <h3><%= item['title'] %></h3>
                        </div>
                    </div>

                    <div class="menu_general__content_row">
                        <div class="menu_general__content_cell menu_general__body">
                            <ul class="menu_general__body_items">
                                <% for (let subitem of item['subItems']) { %>
                                <li data-action="<%= subitem['action'] %>"><%= subitem['name'] %></li>
                                <% } %>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        <% } %>

    <% } %>
</div>