
<div class="row row_md">
    <div class="col_xs_12 col_sm_12 col_md_12 col_lg_12">
        <span>Space Earth</span>
    </div>
</div>
<div class="row row_md">
    <!--Station Info-->
    <div class="col_xs_12 col_sm_4 col_md_4 col_lg_4">
        <div class="row">
            <div class="col_xs_12 col_sm_12 col_md_12 col_lg_12">This is dock name</div>
        </div>
        <div class="row">
            <%- include ./dock_info.ejs %>
            <%- include ./dock_info.ejs %>
            <%- include ./dock_info.ejs %>
            <%- include ./dock_info.ejs %>
        </div>
        <div class="row">
            <%- include ./dock_params.ejs %>
        </div>
    </div>
    <div class="col_xs_12 col_sm_8 col_md_8 col_lg_8">
        <%- include ./dock_model.ejs %>
    </div>
</div>

