{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <link href="{{ asset('css/theme-galaxy.css') }}" rel="stylesheet" />

{% endblock %}

{% block body %}

    {% trans_default_domain 'auth' %}

    <div class="sw-modal sw-modal-skin-star well-sm">

        <div class="sw-modal-head">

            <div class="pull-left">
                <a href="{{ path('iw') }}">IW (ONLINE)</a>
            </div>

            <div class="pull-right">
                <a href="{{ path('_registration') }}" class="sw-link">
                    <i class="glyphicon glyphicon-forward"></i>
                    {{ '_REGISTRATION'|trans }}
                </a>
            </div>

        </div>

        <div class="sw-modal-body">

            <form class="bs-example bs-example-form" id="form" role="form" action="{{ path('_login') }}" method="POST">

                <div class="form-group">
                    <label for="_username"> {{ '_USERNAME'|trans }} </label>
                    <span class="sw-star">*</span>
                    <div class="sw-field input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input type="text" class="form-control" name="username" id="_username" placeholder="Username" autocomplete="off" value="{{ username }}">
                    </div>
                </div>

                <div class="form-group">
                    <label for="_password"> {{ '_PASSWORD'|trans }} </label>
                    <span class="sw-star">*</span>
                    <div class="input-group sw-field">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input type="password" class="form-control" name="password" id="_password" placeholder="Password" autocomplete="off">
                    </div>
                </div>

                <div class="form-group">

                    <label for="_remember_me">{{ '_REMEMBER'|trans }}</label>
                    <input type="checkbox" name="_remember_me" id="_remember_me">

                    <div class="pull-right">
                        <button type="button" class="sw-btn btn-xs" id="_send_form">
                            <i class="glyphicon glyphicon-log-in"></i>
                            {{ '_LOGIN'|trans }}
                        </button>
                    </div>

                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="row">
                    <div class="col-lg-12">

                        <ul class="sw-block-errors sw-text-error" id="_error">
                            {% if error %}
                                <li><i class="glyphicon glyphicon-exclamation-sign"></i> {{ error.messageKey|trans(error.messageData, 'security') }}</li>
                            {% endif %}
                        </ul>

                    </div>
                </div>

            </form>

        </div>

    </div>

{% endblock %}

{% block javascripts %}

    {% trans_default_domain 'auth' %}
    {{ parent() }}

    <script>
        var username = 'username';
        var password = 'password';
        var btn = document.getElementById('_send_form');

        var validation = new IW.Validation();
        validation.addEventCheckAll('click', btn);
        validation.addEventCheckAll('keyup', 'input');
        validation.addGroupMarker('span');

        validation.addRile(username, {
            required: true,
            max: 25,
            min: 6,
            label: '{{ '_USERNAME'|trans }}'
        });

        validation.addRile(password, {
            required: true,
            max: 25,
            min: 6,
            isSame: username,
            label: '{{ '_PASSWORD'|trans }}'
        });

        validation.setCallbackSuccess(function (element) {
            if (element == btn) {
                document.getElementById('form').submit();
            }
        });

        validation.messagesAppendTo('#_error');
        validation.listen();

    </script>

{% endblock %}