{% extends 'iw.html.twig' %}

{% block sw_container %}

    <div id="iw-container"></div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="application/javascript">

        document.addEventListener('DOMContentLoaded', function () {

            var map = {
                path: '{{ asset('/images/textures/galaxy/A/') }}',
                names: ['dark-s-px', 'dark-s-nx', 'dark-s-py', 'dark-s-ny', 'dark-s-pz', 'dark-s-nz'],
                extension: '.png'
            };

            /**
             *
             * @type {IW.MultiLoader}
             */
            var multiLoader = new IW.MultiLoader();

            var initScene = new IW.SceneControls( multiLoader, 'iw-container', false );

            // UPLOAD TEXTURES MAP
            for ( var i = 0; i < map.names.length; i++ ) {
                var lbl = 'label - texture ' + map.names[ i ];
                multiLoader.addLoadTexture( map.names[ i ], lbl, map.path + map.names[ i ] + map.extension );
            }

            // UPLOAD SHIPS
            multiLoader.addLoadOBJ( IW.SceneControls.MODEL_S1_A, 'SHIPS - A', '{{asset('/models/S1/A/')}}', 'starship.obj', 'starship.mtl' );
            multiLoader.addLoadOBJ( IW.SceneControls.MODEL_S1_B, 'SHIPS - B', '{{asset('/models/S1/B/')}}', 'ship.obj', 'ship.mtl' );
            // UPLOAD ROCKETS
            multiLoader.addLoadOBJ( IW.ModelShot.MODEL_R1_A, 'ROCKETS - A', '{{asset('/models/R1/A/')}}', 'rocket.obj', 'rocket.mtl' );
            // UPLOAD CONFIGS
            multiLoader.addLoadJSON( IW.PanelControls.CONFIG_ACTION, 'CONFIG', '{{asset('/js/config/action.json')}}', true );
            multiLoader.addLoadJSON( IW.ModelShot.CONFIG_WEAPON, 'CONFIG', '{{asset('/js/config/weapon.json')}}', true );

            multiLoader.setLoadedCallback( function ( params ) {
                switch ( params.name ) {

                    case IW.SceneControls.MODEL_S1_A:

                        params.object.children[0].position.y = -80;
                        params.object.scale.copy( new THREE.Vector3( 0.1, 0.1, 0.1 ) );
                        break;

                    case IW.SceneControls.MODEL_R1_A:

                        params.object.scale.copy( new THREE.Vector3( 1, 1, 1 ) );
                        break;
                }
            } );

            multiLoader.load(function () {

                initScene.map( map );
                initScene.initScene();

            });
        });
    </script>

{% endblock %}