{% extends 'conteiner.html.twig' %}

{% block content %}

    <div class="page-header">
        <h1>Testindex</h1>
    </div>

    <div class="clearfix well-sm">

                
    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 text-left">
        <a href="{{ path('testindex_index', {'page': app.request.query.get('back')}) }}" class="btn-theme btn btn-default group-tooltip" title="Go to the list" data-placement="top">
            <i class="glyphicon glyphicon-list"></i>
            List
        </a>
    </div>

    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 text-right">
            {{ form_start(delete_form) }}
                <a href="{{ path('testindex_new') }}" class="btn-theme btn btn-default group-tooltip" title="Create new record" data-placement="top">
                    <i class="glyphicon glyphicon-file"></i>
                    New
                </a>
            <button type="submit" class="btn-theme btn btn-danger group-tooltip active" title="Delete this record" data-placement="top">
                <i class="glyphicon glyphicon-trash"></i>
                Delete
            </button>

            {{ form_end(delete_form) }}
    </div>
</div>

    <div class="clearfix well-sm">

        <div class="table-responsive">

            <table class="table table-show table-hover">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ testIndex.id }}</td>
                    </tr>
                    <tr>
                        <th>Title_1</th>
                        <td>{{ testIndex.title1 }}</td>
                    </tr>
                    <tr>
                        <th>Title_2</th>
                        <td>{{ testIndex.title2 }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ testIndex.description }}</td>
                    </tr>
                    <tr>
                        <th>Isactive</th>
                        <td>{% if testIndex.isActive %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Deleted</th>
                        <td>{% if testIndex.deleted %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Created_at</th>
                        <td>{% if testIndex.createdat %}{{ testIndex.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Updated_at</th>
                        <td>{% if testIndex.updatedat %}{{ testIndex.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

{% endblock %}
